<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Pokemon</mat-label>
  <input matInput [(ngModel)]="searchValue" (ngModelChange)="search($event)" placeholder="name"/>
</mat-form-field>

<mat-nav-list
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
  <mat-list-item
    *ngFor="let pokemon of pokemons"
    (click)="sendFather(pokemon.id)"
  >
    <img src="assets/img/sprites/{{pokemon.id}}.png" height="64" witdh="64">{{pokemon.id}}. {{pokemon.name}}
  </mat-list-item>
</mat-nav-list>
