.team{
  width: 300px;
  padding-bottom: 0px;
}

.image {
  height : 100px
}

.pkm{
  cursor: pointer;
}

.pkm:hover{
  background-color: rgba(255,255,255,0.1) ;
}

.bouton{
  top: 88px;
  left: 95px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.abs{
  position: absolute;
}

.tile{
  top: calc(50% - 32px); left: calc(50% - 32px);
}

.title{
  background-color: #660066;
  top : calc(50% - 50px);
  left : calc(50% - 50px);
  width : 100px;
  padding : 1px;
  border-radius: 5px;
  text-align: center;
}
