<mat-card >
  <mat-grid-list cols="2" rowHeight="3:2">
    <mat-grid-tile>
      <div class="item">
        <img *ngIf="pokemon" src="assets/img/official-artwork/{{pokemon?.id}}.png">
        <span class="caption">No. {{ pokemon?.id | number  : '3.0-0' }}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          {{pokemon?.name}}&nbsp;
          <mat-icon onclick="document.getElementById('player').play()" title="Jouer le cri du pokémon">play_circle_outline</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let type of pokemon?.types">
              {{type}}
            </mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item>Taille: {{ pokemon?.height | number  : '1.1-1' }} m</mat-list-item>
        <mat-list-item>Poids: {{ pokemon?.weight | number  : '1.1-1' }} kg</mat-list-item>
      </mat-list>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-list>
        <mat-list-item>
          {{pokemon?.description}}
        </mat-list-item>
      </mat-list>

    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<audio
  id="player"
  autoplay
  src="assets/audio/{{ pokemon?.id}}.mp3">
  Your browser does not support the
  <code>audio</code> element.
</audio>
